@import 'tailwindcss';
@import "katex/dist/katex.min.css";
@import 'react-notion-x/src/styles.css';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --bg: #f9fafb;
        --text: #1f2937;
        --border: #e5e7eb;
        --icon: #4b5563;
    }

    .dark {
        --bg: #343541;
        --text: #f3f4f6;
        --border: #4b5563;
        --icon: #9ca3af;
    }
}

html,
body {
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
}

body {
    overflow-y: scroll;
}

.notion-h {
    width: 100% !important;
}

.notion-quote {
    border-left: 3px solid #d4d4d8 !important;
    font-size: 1em !important;
}

.notion-simple-table td {
    border: 1px solid var(--fg-color-1) !important;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}